@import 'bootstrap.css';
@import 'bootstrap-icons/bootstrap-icons.css';
@import 'conestack-vars.css';
body {
  background-color: var(--bs-body-bg);
}

#header {
  color: var(--cs-header-color);
  background: var(--cs-header-bg-color);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.05), inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  height: 64px;
}

#logo, #logo:active, #logo:hover, #logo:visited {
  margin-left: 2rem;
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--cs-header-color);
  text-decoration: none;
}
@media (min-width: 769px) {
  #logo {
    max-width: calc(100% - 500px) !important;
  }
}
@media (max-width: 768px) {
  #logo {
    max-width: calc(100% - 300px) !important;
  }
}
@media (max-width: 400px) {
  #logo {
    max-width: calc(100% - 100px) !important;
  }
}
#logo > img {
  height: 40px;
}
#logo > span {
  font-size: 1.3em;
}

#searchbox {
  max-width: 300px;
}
@media (max-width: 768px) {
  #searchbox {
    max-width: none;
    color: black;
  }
}

@media (max-width: 400px) {
  #cs-ext-links {
    display: none !important;
  }
}
#cs-ext-links svg {
  width: 24px;
}
#cs-ext-links path {
  fill: var(--cs-header-color);
}

#navbar-toggle {
  color: var(--cs-header-color);
  opacity: 0.6;
}

#cs-mobile-menu {
  background: var(--cs-header-bg-color);
}
@media (min-width: 769px) {
  #cs-mobile-menu {
    display: none;
  }
}
#cs-mobile-menu *:not(#searchbox *) {
  color: var(--cs-header-color);
}
#cs-mobile-menu .cs-mobile-toc {
  margin-top: 1rem;
}
#cs-mobile-menu .cs-mobile-toc ul {
  list-style: none;
  margin-bottom: 0;
  padding-left: 0;
}
#cs-mobile-menu .cs-mobile-toc ul li {
  margin-top: 0.8rem;
  margin-bottom: 0.8rem;
  font-size: 110%;
}
#cs-mobile-menu .cs-mobile-toc ul li a {
  color: var(--cs-header-color);
  text-decoration: none;
}
#cs-mobile-menu .cs-mobile-toc ul li.current a {
  font-weight: bold;
}

#cs-sidebar {
  grid-area: sidebar;
  background: white;
}
@media (max-width: 768px) {
  #cs-sidebar {
    display: none;
  }
}

@media (min-width: 769px) {
  .cs-nav-toc {
    position: sticky;
    top: 1rem;
    display: block !important;
    height: calc(100vh - 5rem);
    padding-left: 0.25rem;
    margin-left: -0.25rem;
    overflow: auto;
    font-weight: 600;
  }
}
.cs-nav-toc a,
.cs-nav-toc a:visited,
.cs-nav-toc a:active,
.cs-nav-toc a:hover {
  text-decoration: none;
  color: var(--bs-gray-800);
}
.cs-nav-toc ul {
  list-style: none;
  margin-bottom: 0.2rem;
  padding-left: 0;
}
.cs-nav-toc ul ul {
  padding-left: 1.2rem;
}
.cs-nav-toc li.toctree-l1 {
  position: relative;
  font-weight: 600;
  margin-bottom: 0.3rem;
}
.cs-nav-toc li.toctree-l1.current > a {
  color: var(--cs-header-bg-color);
}
.cs-nav-toc li.toctree-l1.current ul {
  display: block;
}
.cs-nav-toc li.toctree-l1 ul {
  display: none;
}
.cs-nav-toc li.toctree-l1 li {
  font-weight: 300;
}
.cs-nav-toc li.toctree-l1 > a::before {
  display: inline-block;
  font-family: bootstrap-icons !important;
  font-style: normal;
  font-weight: normal !important;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: -0.125em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\f285";
  margin-right: 0.2rem;
  color: var(--bs-gray-800);
}
.cs-nav-toc li.toctree-l1 > a.current::before, .cs-nav-toc li.toctree-l1 > a.expanded::before {
  content: "\f282";
}
.cs-nav-toc li.toctree-l1 > a.collapsed::before {
  content: "\f285" !important;
}
.cs-nav-toc li.toctree-l1 > span.toggle {
  position: absolute;
  cursor: pointer;
}
.cs-nav-toc li.toctree-l1 > span.toggle::before {
  display: inline-block;
  font-family: bootstrap-icons !important;
  font-style: normal;
  font-weight: normal !important;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: -0.125em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\f285";
  opacity: 0;
}
.cs-nav-toc li.toctree-l2 a {
  font-size: 14px;
}
.cs-nav-toc li.toctree-l2 a, .cs-nav-toc li.toctree-l2 a:visited, .cs-nav-toc li.toctree-l2 a:active, .cs-nav-toc li.toctree-l2 a:hover {
  color: var(--bs-gray-700);
}
.cs-nav-toc li.toctree-l2 a.active, .cs-nav-toc li.toctree-l2 a.active:visited, .cs-nav-toc li.toctree-l2 a.active:active, .cs-nav-toc li.toctree-l2 a.active:hover {
  color: var(--bs-gray-700);
  font-weight: bold;
}

@media (min-width: 992px) {
  #cs-layout {
    grid-template-columns: 1fr 5fr;
  }
}
@media (min-width: 769px) {
  #cs-layout {
    display: grid;
    gap: 1.5rem;
    grid-template-areas: "sidebar main";
    grid-template-columns: auto;
  }
}
@media (max-width: 768px) {
  #cs-layout {
    padding: 1rem;
  }
}

.cs-main {
  gap: inherit;
  display: grid;
  grid-area: main;
  grid-template-areas: "content toc";
  grid-auto-columns: minmax(0, auto);
  grid-template-rows: auto 1fr;
}

.cs-content {
  grid-area: content;
}

table {
  overflow: auto;
  display: block;
}

.cs-local-toc {
  grid-area: toc;
  min-width: min-content;
}
@media (max-width: 991px) {
  .cs-local-toc {
    display: none;
  }
}
@media (min-width: 992px) {
  .cs-local-toc {
    position: sticky;
    top: 1rem;
    right: 0;
    z-index: 2;
    height: calc(100vh - 5rem);
    overflow-y: auto;
  }
}
.cs-local-toc nav {
  font-size: 0.875rem;
}
.cs-local-toc nav ul {
  padding-left: 0;
  list-style: none;
}
.cs-local-toc nav ul ul {
  padding-left: 1rem;
  margin-top: 0.25rem;
}
.cs-local-toc nav li {
  margin-bottom: 0.25rem;
}
.cs-local-toc nav a {
  color: inherit;
}
.cs-local-toc nav a:not(:hover) {
  text-decoration: none;
}
.cs-local-toc nav a code {
  font: inherit;
}

footer .previous-chapter::before {
  content: "<< ";
}
footer .next-chapter::after {
  content: ">> ";
}

/*# sourceMappingURL=conestack.css.map */
