@import 'bootstrap.css';
@import "bootstrap-icons/bootstrap-icons.css";
@import 'conestack-vars.css';
body {
  width: 100vw;
  height: 100vh;
  background-color: var(--bs-body-bg);
}

#header {
  color: var(--cs-header-color);
  background: var(--cs-header-bg-color);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.05), inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  height: 64px;
}

#logo, #logo:active, #logo:hover, #logo:visited {
  margin-left: 2rem;
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--cs-header-color);
  text-decoration: none;
}
@media (min-width: 769px) {
  #logo {
    max-width: calc(100% - 500px) !important;
  }
}
@media (max-width: 768px) {
  #logo {
    max-width: calc(100% - 300px) !important;
  }
}
@media (max-width: 400px) {
  #logo {
    max-width: calc(100% - 100px) !important;
  }
}
#logo > img {
  height: 40px;
}
#logo > span {
  font-size: 1.3em;
}

#searchbox {
  max-width: 300px;
}
@media (max-width: 768px) {
  #searchbox {
    max-width: none;
    color: black;
  }
}

@media (max-width: 400px) {
  #cs-ext-links {
    display: none !important;
  }
}
#cs-ext-links svg {
  width: 24px;
}
#cs-ext-links path {
  fill: var(--cs-header-color);
}

#cs-navbar {
  background: var(--cs-header-bg-color);
}
@media (min-width: 769px) {
  #cs-navbar {
    display: none;
  }
}
#cs-navbar *:not(#searchbox *) {
  color: var(--cs-header-color);
}

#cs-sidebar {
  grid-area: sidebar;
  background: white;
}

@media (min-width: 769px) {
  #cs-docs-nav {
    position: sticky;
    top: 5rem;
    display: block !important;
    height: calc(100vh - 7rem);
    padding-left: 0.25rem;
    margin-left: -0.25rem;
    overflow: auto;
    font-weight: 600;
  }
}
#cs-docs-nav a,
#cs-docs-nav a:visited {
  text-decoration: none !important;
  color: var(--bs-gray-800);
}
#cs-docs-nav a:active,
#cs-docs-nav a:hover {
  text-decoration: none;
  color: var(--cs-header-bg-color);
}
#cs-docs-nav ul {
  list-style: none;
  margin-bottom: 0.2rem;
}
#cs-docs-nav ul ul {
  padding-left: 1rem;
}
#cs-docs-nav > ul {
  padding-left: 0;
}
#cs-docs-nav li > ul a {
  font-size: 14px;
}
#cs-docs-nav li.toctree-l1 {
  font-weight: 600;
  margin-bottom: 0.3rem;
}
#cs-docs-nav li.toctree-l1 li {
  font-weight: 300;
}
#cs-docs-nav li.toctree-l1 > a.current {
  color: var(--cs-header-bg-color);
}

@media (min-width: 992px) {
  #cs-layout {
    grid-template-columns: 1fr 5fr;
  }
}
@media (min-width: 769px) {
  #cs-layout {
    display: grid;
    gap: 1.5rem;
    grid-template-areas: "sidebar main";
    grid-template-columns: 1fr 3fr;
  }
}
@media (max-width: 768px) {
  #cs-layout {
    padding: 1rem;
  }
}

.cs-main {
  display: grid;
  grid-area: main;
  grid-template-areas: "content toc";
  grid-template-columns: 4fr 1fr;
  grid-template-rows: auto 1fr;
}

.cs-content {
  grid-area: content;
}

.cs-toc {
  grid-area: toc;
}
@media (min-width: 992px) {
  .cs-toc {
    position: sticky;
    top: 5rem;
    right: 0;
    z-index: 2;
    height: subtract(100vh, 7rem);
    overflow-y: auto;
  }
}
.cs-toc nav {
  font-size: 0.875rem;
}
.cs-toc nav ul {
  padding-left: 0;
  list-style: none;
}
.cs-toc nav ul ul {
  padding-left: 1rem;
  margin-top: 0.25rem;
}
.cs-toc nav li {
  margin-bottom: 0.25rem;
}
.cs-toc nav a {
  color: inherit;
}
.cs-toc nav a:not(:hover) {
  text-decoration: none;
}
.cs-toc nav a code {
  font: inherit;
}

footer .previous-chapter::before {
  content: "<< ";
}
footer .next-chapter::after {
  content: ">> ";
}

/*# sourceMappingURL=conestack.css.map */
