@use "sass:color";

$admonition-types: (
    attention: #ff3a00,
    danger: #ff0000,
    error: #ff3a00,
    caution: #fd7e14,
    warning: #fd7e14,
    hint: #20c997,
    tip: #20c997,
    important: #0dcaf0,
    note: #0d6efd,
    seealso: #6610f2
);

.cs-main {
  .admonition {
    margin: 1rem auto;
    padding: 0 0.5rem 0.5rem;
    background: white;
    border-radius: 0.2rem;
    border-left: 10px solid var(--bs-gray-600);
    box-shadow: 0 0.2rem 0.5rem rgb(0 0 0 / 5%), 0 0 0.0625rem rgb(0 0 0 / 10%);
    font-size: 14px;
    overflow: hidden;
    page-break-inside: avoid;

    p.admonition-title {
      position: relative;
      margin: 0 -0.5rem 0.5rem;
      padding: 0.5rem 0.5rem 0.5rem 2rem;
      font-weight: 400;
      font-size: 16px;
      background-color: var(--bs-gray-200);
      line-height: 1.3;

      &:before {
        content: "\f43c";
        position: absolute;
        left: 0.5rem;
        font-size: 16px;
        font-family: "bootstrap-icons";
        color: var(--bs-gray-600);
      }
    }
  }

  @each $type, $color in $admonition-types {
    .admonition.#{$type} {
      > .admonition-title {
        background: rgba($color, 0.2);

        &:before {
          @if $type == 'attention' {
            content: "\f332";
            color: $color;
          } @else if $type == 'danger' {
            content: "\f532";
            color: $color;
          } @else if $type == 'error' {
            content: "\f622";
            color: $color;
          } @else if $type == 'caution' {
            content: "\f46e";
            color: $color;
          } @else if $type == 'warning' {
            content: "\f33a";
            color: $color;
          } @else if $type == 'hint' {
            content: "\f504";
            color: $color;
          } @else if $type == 'tip' {
            content: "\f406";
            color: $color;
          } @else if $type == 'important' {
            content: "\f400";
            color: $color;
          } @else if $type == 'seealso' {
            content: "\f133";
            color: $color;
          } @else if $type == 'note' {
            content: "\f4c9";
            color: $color;
          }
        }
      }
      border-left-color: $color;
    }
  }
}

[data-bs-theme="dark"] .cs-main {
    .admonition {
      background: var(--bs-secondary-bg);
      border-left: 10px solid var(--bs-gray-600);
      box-shadow: 0 0.2rem 0.5rem rgb(0 0 0 / 50%), 0 0 0.0625rem rgb(0 0 0 / 50%);

      p.admonition-title {
        background-color: var(--bs-gray-700);

        &:before {
          color: var(--bs-gray-600);
        }
      }
    }

    @each $type, $color in $admonition-types {
      .admonition.#{$type} {
        > .admonition-title {
          background: rgba($color, 0.2);

        &:before {
          @if $type == 'attention' {
            content: "\f332";
            color: $color;
          } @else if $type == 'danger' {
            content: "\f532";
            color: $color;
          } @else if $type == 'error' {
            content: "\f622";
            color: $color;
          } @else if $type == 'caution' {
            content: "\f46e";
            color: $color;
          } @else if $type == 'warning' {
            content: "\f33a";
            color: $color;
          } @else if $type == 'hint' {
            content: "\f504";
            color: $color;
          } @else if $type == 'tip' {
            content: "\f406";
            color: $color;
          } @else if $type == 'important' {
            content: "\f400";
            color: $color;
          } @else if $type == 'seealso' {
            content: "\F137";
            color: color.mix($color, white, 70%);
          } @else if $type == 'note' {
            content: "\f4c9";
            color: $color;
          }
        }
      }
      border-left-color: $color;
    }
  }
}

// version notes
$version-types: (
  versionadded: #20c997,
  versionchanged: #ffdc50,
  deprecated: #fd7e14,
  versionremoved: #ff0000
);

$version-icons: (
  versionadded: F442,
  versionchanged: F43F,
  deprecated: F445,
  versionremoved: F441
);

.cs-main {
  div {
    &.versionadded,
    &.versionchanged,
    &.deprecated,
    &.versionremoved {
      position: relative;
      margin-bottom: 1rem;
      padding: .5rem 1rem;
      padding-top: 2rem;
      border-radius: 0.2rem;

      span.versionmodified {
        display: flex;
        position: absolute;
        width: 100%;
        left: 0;
        top: 0;
        margin-bottom: .5rem;
        padding: .35rem 1rem;
        border-top-left-radius: 0.2rem;
        border-top-right-radius: 0.2rem;
        font-weight: bold;
        color: rgba(0,0,0,0.8);
      }

      span.versionmodified::before {
        font-family: "bootstrap-icons";
        margin-right: 0.5rem;
      }
      &.versionadded span.versionmodified::before {
        content: "\F442";
      }
      &.versionchanged span.versionmodified::before {
        content: "\F43F";
      }
      &.deprecated span.versionmodified::before {
        content: "\F445";
      }
      &.versionremoved span.versionmodified::before {
        content: "\F441";
      }
    }
    @each $type, $color in $version-types {
      &.#{$type} {
        background-color: rgba($color, 0.1);

        span.versionmodified {
          background-color: rgba($color, 0.2);
        }
      }
    }
  }
}

[data-bs-theme="dark"] .cs-main {
  div {
    &.versionadded,
    &.versionchanged,
    &.deprecated,
    &.versionremoved {
      span.versionmodified {
        color: rgba(255,255,255,0.8);
      }
    }
    @each $type, $color in $version-types {
      &.#{$type} {
        background-color: transparent;
        outline: 2px solid rgba($color, 0.8);

        span.versionmodified {
          background-color: rgba($color, 0.3);
        }
      }
    }
  }
}