#header {
  color: var(--cs-color);
  background: var(--cs-bg-color);
  box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 5%), inset 0 -1px 0 rgb(0 0 0 / 15%);
  height: 64px;

  button[btn-title]:hover::after {
    content: attr(btn-title);
    color: var(--bs-gray-600);
    font-size: 13px;
    padding: 2px 6px;
    border-radius: 5px;
    border: 1px solid var(--bs-gray-200);
    background: var(--bs-white);
    position: absolute;
    z-index: 1000;
    top: 30px;
  }
}

#logo {
  &,
  &:active,
  &:hover,
  &:visited {
    margin-left: 2rem;
    overflow: hidden;
    text-overflow: ellipsis;
    color: var(--cs-color);
    text-decoration: none;
  }

  @media (min-width: 769px) {
    max-width: calc(100% - 500px)!important;
  }

  @media (max-width: 768px) {
    max-width: calc(100% - 300px)!important;
    margin-left: 1rem!important;
  }

  @media (max-width: 400px) {
    max-width: calc(100% - 100px)!important;
  }

  > img {
    height: 40px;
  }

  > span {
    font-size: 1.3em;
  }
}

#searchbox {
  max-width: 300px;

  @media (max-width: 768px) {
    max-width: none;
    color: black;
    margin-right: 0px!important;
  }
}

#cs-ext-links {
  .nav-link {
    height: 100%;
  }
  .nav-item:hover::after {
    content: attr(data-title);
    color: var(--bs-gray-600);
    font-size: 13px;
    padding: 2px 6px;
    border-radius: 5px;
    border: 1px solid var(--bs-gray-200);
    background: var(--bs-white);
    position: absolute;
    z-index: 1000;
  }

  @media (max-width: 400px) {
    display: none !important;
  }

  svg {
    width: 24px;
  }

  path {
    fill: var(--cs-color)!important;
  }
}

#navbar-toggle {
  color: var(--cs-color);
  opacity: .6;
}

#cs-mobile-menu {
  background: var(--cs-bg-color);
  z-index: 1000;

  @media (min-width: 769px) {
    display: none;
  }

  *:not(#searchbox *) {
    color: var(--cs-color);
  }

  .cs-mobile-toc {
    margin-top: 1rem;

    ul {
      list-style: none;
      margin-bottom: 0;
      padding-left: 0;

      li {
        margin-top: .8rem;
        margin-bottom: .8rem;
        font-size: 110%;

        a {
          color: var(--cs-color);
          text-decoration: none;
        }

        &.current a {
          font-weight: bold;
        }
      }
    }
  }
}
