#header {
  color: var(--cs-header-color);
  background: var(--cs-header-bg-color);
  box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 5%), inset 0 -1px 0 rgb(0 0 0 / 15%);
  height: 64px;
}

#logo {
  &,
  &:active,
  &:hover,
  &:visited {
    margin-left: 2rem;
    overflow: hidden;
    text-overflow: ellipsis;
    color: var(--cs-header-color);
    text-decoration: none;
  }

  @media (min-width: 769px) {
    max-width: calc(100% - 500px)!important;
  }

  @media (max-width: 768px) {
    max-width: calc(100% - 300px)!important;
  }

  @media (max-width: 400px) {
    max-width: calc(100% - 100px)!important;
  }

  > img {
    height: 40px;
  }

  > span {
    font-size: 1.3em;
  }
}

#searchbox {
  max-width: 300px;

  @media (max-width: 768px) {
    max-width: none;
    color: black;
  }
}

#cs-ext-links {

  @media (max-width: 400px) {
    display: none !important;
  }

  svg {
    width: 24px;
  }

  path {
    fill: var(--cs-header-color);
  }
}

#cs-navbar {
  background: var(--cs-header-bg-color);

  @media (min-width: 769px) {
    display: none;
  }

  *:not(#searchbox *) {
    color: var(--cs-header-color);
  }
}
