#cs-layout {
  min-height: calc(100vh - 19rem);

  @media (min-width: 992px) {
    grid-template-columns: 1fr 10fr!important;
  }

  @media (min-width: 769px) {
    display: grid;
    gap: 1.5rem;
    grid-template-areas: "sidebar main";
    grid-template-columns: 1fr 4fr;
  }

  @media (max-width: 768px) {
    padding: 1rem;
  }
}

@media (min-width: 992px) {
  #cs-layout, #cs-nav {
    max-width: var(--layout-width) !important;
  }

  #cs-sidebar {
    min-width: var(--sidebar-left-width) !important;
  }
}