.cs-main {
  gap: inherit;
  display: grid;
  grid-area: main;
  grid-template-areas: "content toc";
  grid-template-columns: minmax(0, 4fr) 1fr;
  height: min-content;

  @media (max-width: 992px) {
    grid-template-columns: minmax(0, auto);
    grid-template-rows: auto 1fr;
  }

  .highlighted {
    background: var(--cs-highlight-color);
  }
}

.cs-content {
  grid-area: content;
  height: fit-content;

  .headerlink {
    text-decoration: none;
    padding-left: 8px;
    opacity: 0;
    color: var(--bs-blue);
  }

  .math {
    overflow: auto;
  }

  .highlight-rst {
    overflow: auto;
  }

  h1 {
    margin-bottom: 1.5rem;
    font-weight: 400;
    font-size: 3rem;
    color: var(--cs-bg-color);
  }

  h3 {
    font-size: 1.5rem;
  }

  h2, h3, h4 {
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    color: var(--bs-gray-700);
    font-weight: 500;

    &:hover {
      .headerlink {
        opacity: 1;
      }
    }
  }

  caption {
    text-align: center;
    color: var(--bs-gray-800);
    font-size: 0.9rem;
    padding-top: 0.3rem;
    padding-bottom: 0.35rem;
  }

  a > code {
    color: var(--bs-blue) !important;
  }

  span {
    &.menuselection {
      background: rgba(#6610f2, 0.1);
      border-radius: .2rem;
      font-size: .85em;
      padding: 0 .2rem;
      border: 1px solid rgba(#6610f2, 0.1);;
    }

    &.guilabel {
      background: rgba(#0d6efd, 0.1);
      padding: 0 .3rem;
      border-radius: .2rem;
      font-size: .85rem;
      border: 1px solid rgba(#0d6efd, 0.4);
    }
  }

  kbd:not(.compound) {
    padding: 0.1rem 0.4em;
    font-size: 0.8em;
    color: var(--bs-gray-800);
    background: var(--bs-gray-100);
    border: 1px solid var(--bs-gray-400);
    box-shadow: 0 0.0625rem 0 rgba(0, 0, 0, 0.5), inset 0 0 0 0.125rem white;
    border-radius: 0.2rem;
    font-weight: 400;
  }

  kbd.compound {
    background: none;
    color: var(--bs-gray-800);
    padding: 0;
    border-radius: 0;
    font-size: 1em;
  }

  dt {
    color: var(--bs-gray-700);
  }

  pre.literal-block {
    background: #f8f9fa;
    margin-right: var(--bs-gutter-x, 0.75rem);
    margin-left: var(--bs-gutter-x, 0.75rem);
  }

  .highlight,
  pre.literal-block {
    position: relative;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 1.5rem;
    border-radius: 0.25rem;

    .copy-literal-block {
      position: absolute;
      right: 1rem;
      top: 1rem;
      padding: 0.2rem 0.4rem;
      font-size: 0.65rem;
      border-radius: 0.2rem;

      &:hover::after {
        content: attr(data-text);
        color: var(--bs-gray-600);
        font-size: 13px;
        padding: 2px 6px;
        border-radius: 5px;
        border: 1px solid var(--bs-gray-200);
        background: var(--bs-white);
        position: absolute;
        z-index: 1000;
        transform: translate(calc(-50% - 0.75rem), -120%);
      }
    }
  }

  section .sidebar {
    float: right;
    clear: right;
    width: 30%;
    margin-left: 1rem;
    margin-right: 0;
    border-radius: 0.2rem;
    background-color: #f8f9fa;
    border: 1px solid var(--bs-gray-400);

    .sidebar-title {
      margin: 0;
      padding: 0.5rem 1rem;
      font-weight: 500;
    }

    > * {
      padding-left: 1rem;
      padding-right: 1rem;
    }

    img {
      width: 100%;
    }

    p {
      margin-top: 1rem;
    }
  }

  dt.label > .brackets {
    margin-right: 0.2rem;
  }

  a > span.problematic {
    color: var(--bs-danger);
    text-decoration: underline;
  }

  .highlight pre,
  pre.literal-block {
    font-size: 14px;
    padding: 0;
    margin: 0;
    overflow: auto;
  }

  // paragraphs
  p.rubric {
    text-transform: uppercase;
    font-size: var(--font-size--small);
  }

  .align-default,
  .align-center {
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  p {
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
  }

  dd > p {
    margin-top: 0;
  }

  dd {
    display: block;
    margin-inline-start: 2rem;
    margin-top: 0.3rem;
    font-size: 0.96rem;

    > p {
      margin-bottom: 0.2rem;
    }
  }

  dl {
    margin-block-start: 1rem;
    margin-block-end: 1rem;
  }

  .centered {
    text-align: center;
  }

  // code blocks
  code.literal {
    background: #f8f9fa;
    border: 1px solid var(--bs-gray-400);
    color: black;
    border-radius: 0.2em;
    font-size: 12px;
    padding: 0.1em 0.2em;
  }

  // footnotes
  .footnote-reference {
    font-size: 10px;
    vertical-align: super;
  }

  dl.footnote {
    font-size: 14px;
    font-weight: 300;
    display: grid;
    grid-template-columns: max-content auto;

    .field-list dt,
    .option-list dt,
    dl.footnote dt,
    dl.glossary dt,
    dl.simple dt,
    dl:not([class]) dt {
      font-weight: 300 !important;
      margin-top: 0.25rem;
    }
    dt {
      &.label {
        font-weight: 300;
      }
      &.brackets {
        &:before {
          content: "[";
        }
        &:after {
          content: "]";
        }
      }
    }

    dd {
      display: block;
      margin-inline-start: 40px;
      margin-top: 0;
    }
  }

  img {
    max-width: -webkit-fill-available;
    max-width: 100%;
  }

  blockquote {
    border-left: 1px solid var(--bs-gray-700);
    color: var(--bs-gray-700);
    font-style: italic;
    margin-right: 0.5rem;
    padding: 0.5rem 1rem;
  }
}

.cs-local-toc {
  grid-area: toc;
  min-width: min-content;

  @media (max-width: 991px) {
    display: none;
  }

  @media (min-width: 992px) {
    position: sticky;
    top: 1rem;
    right: 0;
    z-index: 2;
    overflow-y: auto;
    min-height: calc(100vh - 30rem);
    height: max-content;
    max-height: calc(100vh - 8rem);
    width: min-content;
    min-width: 180px;
  }

  nav {
    font-size: 0.875rem;

    ul {
      padding-left: 0;
      list-style: none;

      ul {
        padding-left: 1rem;
        margin-top: 0.25rem;
      }
    }

    li {
      margin-bottom: 0.25rem;
    }

    a {
      color: inherit;
      &:not(:hover) {
        text-decoration: none;
      }
      code {
        font: inherit;
      }
    }
  }
}
