.cs-main {
  gap: inherit;
  display: grid;
  grid-area: main;
  grid-template-areas: "content toc";
  grid-template-columns: minmax(0, 4fr) 1fr;
  height: min-content;

  @media (max-width: 992px) {
    grid-template-columns: minmax(0, auto);
    grid-template-rows: auto 1fr;
  }

  .highlighted {
    background: rgba(#0d6efd, 0.2);
  }
}

.cs-content {
  grid-area: content;
  height: fit-content;

  #search-results {
    overflow-wrap: break-word;
    word-wrap: break-word;
  }

  .headerlink {
    text-decoration: none;
    padding-left: 8px;
    opacity: 0;
    color: var(--bs-blue);
  }

  .highlight-rst {
    overflow: auto;
  }

  .highlight pre,
  pre.literal-block {
    font-size: 14px;
    padding: 0;
    margin: 0;
    overflow: auto;
  }

  h1 {
    margin-bottom: 1.5rem;
    font-weight: 400;
    font-size: 3rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  h2, h3, h4 {
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    font-weight: 500;

    &:hover {
      .headerlink {
        opacity: 1;
      }
    }
  }
}

#scrolltop {
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  bottom: 1rem;
  left: calc(100vw - 1rem);
  background: var(--cs-bg-color);
  border-radius: 50%;
  width: 2.2rem;
  height: 2.2rem;
  color: var(--cs-color);
  box-shadow: -2px 2px 12px #00000031;
}
