@import 'mixins';

#cs-sidebar {
  grid-area: sidebar;
  width: fit-content;
  min-width: 180px;
  max-height: calc(100vh - 8rem);
  height: max-content;
  position: sticky;
  top: 7rem;
  overflow-y: auto;

  @media (max-width: 768px) {
      display: none;
  }
}

.cs-nav-toc {
  @media (min-width: 769px) {
    display: block !important;
    padding-left: .25rem;
    margin-left: -.25rem;
    font-weight: 600;
  }

  a,
  a:visited,
  a:active,
  a:hover {
    text-decoration: none;
    color: var(--bs-secondary-color);
  }

  ul {
    list-style: none;
    margin-bottom: .2rem;
    padding-left: 0;
  }

  ul ul {
    padding-left: 1.2rem;
  }

  li.toctree-l1 {
    position: relative;
    font-weight: 600;
    margin-bottom: 0.3rem;
    margin-left: 20px;
    text-indent: -10px;

    &.current {
      > a, > a::before {
        color: var(--bs-emphasis-color);
      }

      ul {
        display: block;
      }
    }

    ul {
      display: none;
    }

    li {
      font-weight: 300;
    }

    > a {

      &::before {
        @include bootstrap-icons;

        content: '\F234';
        margin-right: .2rem;
        color: var(--bs-body-color);
      }

      &.current::before,
      &.expanded::before {
        content: '\f229';
      }

      &.collapsed::before {
        content: '\F234' !important;
      }
    }

    > span.toggle {
      position: absolute;
      cursor: pointer;
      display: block;
      width: 20px;
      height: 20px;
      left: -22px;
      top: 2px;

      &::before {
        @include bootstrap-icons;

        content: '\f229';
        opacity: 0;
      }
    }
  }

  li.toctree-l2 {
    a {
      font-size: 14px;

      &,
      &:visited,
      &:active,
      &:hover {
        color: var(--bs-body-color);
      }
    }

    a.active {
      &,
      &:visited,
      &:active,
      &:hover {
        color: var(--bs-body-color);
        font-weight: bold;
      }
    }
  }
}
