.cs-content {
  table {
    caption-side: top;
    overflow-x: auto;
    display: block;
    margin-bottom: 2rem;
    max-width: fit-content;
    max-width: -moz-fit-content;

    caption {
      border-bottom: 1px solid var(--bs-gray-400);
    }

    &.align-default {
      text-align: initial;
      margin-left: 0;
      margin-right: 0;
    }

    thead {
      background-color: var(--bs-tertiary-bg);
      border-top: none!important;
    }

    tr {
      display: table-row;
      vertical-align: inherit;
      border-color: inherit;

      &:first-child {
        border-top: none!important;
        > td {
          border-top: none;
        }
      }
      > td:first-child {
        border-left: none !important;
      }
    }

    .stub {
      background: var(--bs-tertiary-bg);
    }

    &.docutils {
      border-radius: 0.3rem;
      border: 1px solid var(--bs-gray-400);
      border-collapse: collapse;
      box-shadow: 0 0.2rem 0.5rem rgb(0 0 0 / 5%), 0 0 0.0625rem rgb(0 0 0 / 10%);

      td {
        background: var(--bs-body-bg);
      }

      td, th {
        padding: 0 0.25rem;
        border-top: 1px solid var(--bs-gray-400);
        border-left: 1px solid var(--bs-gray-400);

        &.head{
          border-top: none;
          border-bottom: 1px solid var(--bs-gray-400);
        }
      }

      td:first-child,
      th:first-child {
        border-left: none;
      }
      td p, th p {
        margin: 0.25rem;
      }
    }
  }
}